{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MIS Event Needs Monitoring</title>
    <script src="{% static '/vue.global.js' %}"></script>
    <link rel="stylesheet" href="{% static '/style.css' %}" />
  </head>
  <body>
    <div id="app" class="app-box">
      <label>[[ text ]]</label>
    </div>

    <script src="{% static '/app.js' %}"></script>
  </body>
</html>
